body {
  background-color: bisque;
  font-family: "Courier New", Courier, monospace;
}

header,
footer {
  background-color: #0f3e0f;
}

main h1 {
  font-weight: 700;
}

.menu {
  margin-right: 0;
  padding: 20px;
  width: 100%;
  height: 50px;
  background-color: #0f3e0f;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline-block;
  margin-left: 25px;
}
